/* THEME */

* {
    background:             #1d2021; 
    background-alt:         #282828;
    foreground:             #ebdbb2;
    foreground-alt:         #1d2021;
    selected:               #7c6f64;

    font:                   "Iosevka Nerd Font Mono 18";
}
